<ul class="list-unstyled">
	<% if can? :read, @generic_file %>
      <li>
         <span class="action"><a href="#" class="preview-link">Preview image</span> 
         <span class="icon glyphicon glyphicon-picture"></span></a>
      </li>
	  <li>
         <span class="action"><%= render_download_link "Download file" %></span>
         <span class="icon glyphicon glyphicon-hdd"></span>
      </li>
	<% end %>
	<% if can? :edit, @generic_file %>
        <li>
		<% if @generic_file.processing? %>
			<%= t('sufia.upload.processing') %>
		<% else %>
			<span class="action"><%= link_to "Edit metadata", sufia.edit_generic_file_path(@generic_file) %></span>
            <span class="glyphicon glyphicon-edit"></span>
		<% end %>
        </li>
	<% end %>
</ul>
