<ul class="list-unstyled">
	<% if can? :read, @generic_file %>
      <li>
         <span class="action">
           <%= link_to "Preview image", 
                 sufia.download_path(@generic_file, file: "access"),
               { "data-toggle" => "modal", 
                 "data-target" => "#preview-#{@generic_file.id}",
                 title: "Preview image in lightbox",
                 "aria-label" => "Load preview image" } %>
         </span> 
         <span class="icon glyphicon glyphicon-picture"></span></a>
      </li>
	  <li>
         <span class="action"><%= render_download_link "Download file" %></span>
         <span class="icon glyphicon glyphicon-hdd"></span>
      </li>
	<% end %>
	<% if can? :edit, @generic_file %>
        <li>
		<% if @generic_file.processing? %>
			<%= t('sufia.upload.processing') %>
		<% else %>
			<span class="action"><%= link_to "Edit metadata", sufia.edit_generic_file_path(@generic_file) %></span>
            <span class="glyphicon glyphicon-edit"></span>
		<% end %>
        </li>
	<% end %>
</ul>
