<h2 class="non lower">Actions</h2>
<p>
	<% if can? :read, @generic_file %>
	  <%= render_download_link "Download full image" %>
	<% end %>
	<% if can? :edit, @generic_file %>
    &nbsp;|&nbsp;
		<% if @generic_file.processing? %>
			<%= t('sufia.upload.processing') %>
		<% else %>
			<%= link_to "Edit", sufia.edit_generic_file_path(@generic_file) %>
		<% end %>
	<% end %>
</p>