<% if @response.total_pages > 1 %>
  <div class="pager">
    <%= paginate @response, window: 2, outer_window: 1,
          route_set: collections, theme: 'bootstrap3' %>
  </div><!-- /pager -->
<% end %>
