<div class="batch-info">
  <div class="col-xs12 col-sm-offset-2 col-sm-5">
    <%= render "paginate" %>
  </div>

  <div class="col-xs-8 col-sm-3">
    <%= render "per_page_widget" %>
    <%= render "sort_widget" %>
  </div>
  <%= render "view_type_group" %>
</div>
