<div class="batch-info">
  <div>
    <%= render partial: 'collections/form_for_select_collection', locals: { user_collections: @user_collections }  %>
  </div>

     <div class="col-xs-12 col-md-6">
       <%= render "per_page_widget" %>
       <%= render "sort_widget" %>

       <%= render 'paginate' %>
        <% console %>
     </div>
</div>
