        <div id="sort-dropdown" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= raw(current_sort_field.label) %></button>
          <ul class="dropdown-menu">
            <% active_sort_fields.each do |key, sort_order| %>
              <li>
                <%= link_to raw(sort_order.label), collections.collection_path(@collection, params_for_search(sort: key)) %>
              </li>
            <% end %>
          </ul>
        </div>
