<h3><%= link_to model.title, collections.collection_path(model.id) %></h3>
<p><%= model.description %>
<dl class="dl-horizontal">
  <dt>Items</dt>
  <dd><%= model.member_count %></dd>
 
  <dt>Size<dt/>
  <dd><%= model.bytes %>
</dl>
