<h3><%= link_to member.title, collections.collection_path(member.id) %></h3>
<p><%= description_for_collection member %></p>
<dl class="dl-horizontal">
  <dt>Items</dt>
  <dd><%= member.members.count %></dd>
 
  <dt>Size<dt/>
  <dd><%= number_to_human_size(member.bytes) %></dd>
</dl>
