<tr id="document_<%= member.id %>" %>
  <td><%= link_to render_collection_thumbnail(member), collections.collection_path(member) %></td>
  <td>
    <%= render_partial_for 'metadata', member %>
  </td>
  <td><%= member.create_date || "-" %> </td>
  <td>&nbsp;</td>
</tr>
