<tr id="document_<%= model.id %>" %>
  <td><%= link_to collection_thumbnail_for(model.model), collections.collection_path(model.id) %></td>
  <td>
    <%= render_partial_for 'metadata', model %>
  </td>
  <td><%= model.date_created %>
  <td>&nbsp;</td>
</tr>
