<h3><%= link_to model.title, sufia.generic_file_path(model.id) %></h3>  
<p><%= truncate model.description, length: 80, separator: ' ' %></p>
<% unless model.subject.empty? %>
  <h4>Subjects</h4>
  <ul class="list-unstyled">
    <% model.subject.each do |subject| %>
      <li><%= link_to_facet(subject, Solrizer.solr_name("subject", :facetable)) %></li>
    <% end %>
  </ul>
<% end %>
