<%# Override Blacklight defaults %>
<div class="document">
  <figure>
    <%= render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
    <figcaption>
      <%= render_document_partials document, blacklight_config.view_config(:gallery).partials %>
    </figcaption>
  </figure>
</div>
