<div class="pager">
  <% if @response.total_pages > 1 %>
      <%= paginate @response, window: 1, outer_window: 1, theme: 'bootstrap3' %>
  <% else %>
    <span class="pagination"><%= page_entries_info(@response, entry_name: "items") %></span>
  <% end %>
</div><!-- /pager -->
