<div id="sortAndPerPage" class="row">
  <div class="col-xs-12 col-sm-5">
    <div class="btn-group" id="per_page-dropdown" role="group">
      <%= render "per_page_widget" %>
      <%= render "sort_widget" %>
    </div>
  </div>
 
  <div class="col-xs-12 col-sm-offset-1 col-sm-6 pull-right">
     <%= render "paginate" %>
     <%= render "view_type_group" %>
  </div>
</div>
