@import 'bootstrap_overrides';

.lightbox {
  display: -ms-flex;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: auto;

  z-index: 10;
  background: rgba(0, 0, 0, 0.66);
}

.lightbox .controls {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.75);

  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  font-size: 150%;
}

.lightbox figure {
  position: relative;
  width: 50%;
  align-self: center;
  text-align: center;

  background: rgba(0, 0, 0, 0.75);

}

.lightbox img {
  max-width: 100%;
  height: auto;
  max-height: 100vh;
}

.lightbox figcaption {
  font-size: 150%;
  font-style: italic;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.8);
}

/** 
 * Gallery view tweaks for search results
 */
.flex-gallery {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -ms-align-items: flex-end;
  align-items: flex-end;

  -ms-justify-content: stretch;
  justify-content: stretch;
}

.flex-gallery .document {
  flex-basis: 20vh;
  margin: 1em 2vh;
  min-width: 240px;
  text-align: left;
}

.flex-gallery {
  h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    max-width: 20em;
  }

  .collection-icon {
    text-align: left;
  }

  figure {
    max-width: 100%;
  }
}

/* Reset over Sufia's defaults */
.pager, .pagination {
  margin: 0;
  border-radius: 0;
  text-align: left;
}

.pager li > span,
.pager li > a {
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px; 
}

.pager-centered {
  text-align: center;
}
/**
 * Custom styling to make global search look more like base Blacklight
 * Can be deleted if code is brought closer to source
 */
.for-search-field {
  background: $cma-gray;
  border-radius: 4px 0 0 4px;
}

.for-search-field select {
  background: transparent;
  border: none;
  width: 20ch;
}

/**
 * Visual break for sorting / filters vs result sets
 */
.for-sort-and-display {
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
  border-bottom: 0.1em $cma-gray solid;
}
