.lightbox {
  display: -ms-flex;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: auto;

  z-index: 10;
  background: rgba(0, 0, 0, 0.66);
}

.lightbox .controls {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.75);

  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  font-size: 150%;
}

.lightbox figure {
  position: relative;
  width: 50%;
  align-self: center;

  background: rgba(0, 0, 0, 0.75);
}

.lightbox img {
  max-width: 100%;
  height: auto;
  text-align: center;
  max-height: 100vh;
  align-self: center;
}

.lightbox figcaption {
  font-size: 150%;
  font-style: italic;
  position: absolute;
  bottom: 0;
  max-width: 100%;
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.8);
}

/** 
 * Gallery view tweaks for search results
 */
.flex-gallery {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -ms-align-items: flex-end;
  align-items: flex-end;

  -ms-justify-content: stretch;
  justify-content: stretch;
}

.flex-gallery .document {
  flex-basis: 20vh;
  margin: 1em 2vh;
  min-width: 240px;
  text-align: center;
}

/* Reset over Sufia's defaults */
.pager, .pagination {
  margin: 0;
  border-radius: 0;
}

.pager li > span,
.pager li > a {
  border-radius: 0;
}

