<div id="footer" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-5">
		  <p>Cleveland Museum of Art</p>
		</div>
	  <div class="col-xs-12 col-sm-7">
		  <p class="pull-right">Powered by Hydra <%= Sufia::VERSION %></p>
	  </div>
	</div>
</div>